body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size:15px !important;
  font-weight: bold;
}

.maintenanceHead {
  color: white;
  font-size: 20px;
  padding: 110px;
}